/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* banner styles */
.top-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #2d25a0;
  height: 677px;
  margin: 0px;
}
.banner {
  margin-left: 156px;
}
.banner-title {
  font-size: 64px;
  color: #ffffff;
}

/* banner button styles starts */
.banner-button,
.highlight-button {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 24px;
  background-color: #e02c6d;
}
.banner-button span,
.highlight-button span {
  padding-right: 8px;
}
/* banner button styles ends */
.banner-photo img {
  width: 593px;
  height: 469px;
}

/* player section */
.top-players,
.hightlight,
.copa-winners {
  width: 1100px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.players,
.most-winners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player,
.winner {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .thumbnail img,
.winner .cup-thumbnail img {
  width: 300px;
  height: 256px;
}
.player-title,
.winner-title {
  font-size: 28px;
  color: #18191f;
  margin-top: 11px;
  margin-bottom: 6px;
}
.player-detail,
.winner-details {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
}

/* highlight section */
.copa-highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}
.highlight-text {
  /* width added later */
  width: 500px;
  margin-top: 40px;
}
.highlight-title {
  font-size: 48px;
  color: #0a0826;
  margin: 10px 5px 6px;
}
.highlight-summary {
  font-size: 16px;
  color: #6c6c6c;
  margin: 2px 5px 24px;
}
.copa-highlight .highlight-photo img {
  width: 567px;
  height: 427px;
}
/* event photo gallary section */
.photo-galary {
  background-color: #f3f1ff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.photo-frame {
  width: 500px;
  height: 450px;
  border: 2px solid lightblue;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.photo img {
  width: 100%;
  border-radius: 10px;
}
.photo_details {
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
  width: 500px;
}
.photo-frame:hover .photo_details {
  display: block;
  background-color: rgba(97, 116, 65, 0.459);
}
.photo-frame:hover .photo {
  transform: scale(1.3);
  transition: transform 1s ease-in;
}
.photo-frame:nth-child(2n):hover .photo {
  transform: scale(1.3) rotate(360deg);
  transition: transform 2s ease-in;
}
.photo_details h3 {
  background-color: rgb(37, 35, 35);
  color: white;
}
.photo_details p {
  color: rgba(230, 217, 217, 0.76);
  font-weight: 700;
}
/* copa-most-winner */
.winner .time {
  padding-left: 90px;
  color: orange;
}

.winner:hover {
  box-shadow: 5px 5px 30px grey;
}
.winner:hover .time {
  color: #0a0826;
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

/* racism awareness */
.no-racism {
  background-color: gainsboro;
  padding: 40px 60px 40px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.no-racism:hover .race-aware img {
  transform: scale(1.05);
  transition: transform 1s;
  overflow: hidden;
  border-radius: 5px;
  border: 5px solid #eb4242;
  box-shadow: 0px 0px 30px #d81010;
}
.no-racism:hover .race-aware h1 {
  color: #eb4242;
  transform: scale(1.05);
  transition: transform 1s;
}
/* footer */
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
}
footer img {
  width: 483.87px;
  height: 110px;
}
.social-medias {
  padding-bottom: 20px;
}
.icon-social {
  font-size: 17px;
  padding-left: 21px;
}
.copywrite {
  font-size: 14px;
}
