/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*............. 
header css 
..............*/
header {
  height: 60px;
  background-color: #2d25a0;
}
.header-content {
  display: flex;
  justify-content: space-around;
}
.left-side-nav,
.right-side-nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.left-side-nav a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  margin-right: 36px;
}
/* header css ends */
/*.......... common css .............*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.......... common css ends.............*/
/* banner styles */
.top-banner {
  background-color: #2d25a0;
  height: 677px;
  margin: 0px;
  padding-top: 70px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
/* top-banner animation part starts */
.top-banner:hover .banner-image {
  transform: scale(1.2) rotate(360deg);
  transition: transform 1.5s ease-in;
}
.top-banner:hover .top-banner-button {
  transition: transform 1.5s ease-in;
  transform: translate(370px, 75px) rotate(360deg);
}
/* top-banner animation part ends */
.banner-one {
  padding-left: 156px;
}
.banner-title {
  font-size: 64px;
  color: #ffffff;
}

/* banner button styles starts */
.banner-button,
.highlight-button,
.nav-button {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 24px;
  background-color: #e02c6d;
}
.banner-button span,
.highlight-button span {
  padding-right: 8px;
}
.nav-button span {
  padding-left: 8px;
}
/* banner button styles ends */
.banner-photo img {
  width: 593px;
  height: 469px;
}
/* banner ends */
/* player section */
.top-players,
.hightlight,
.copa-winners {
  width: 1100px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.players,
.most-winners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player,
.winner {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .thumbnail img,
.winner .cup-thumbnail img {
  width: 300px;
  height: 256px;
}
.player-title,
.winner-title {
  font-size: 28px;
  color: #18191f;
  margin-top: 11px;
  margin-bottom: 6px;
}
.player-detail,
.winner-details {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
}
/* player section ends */

/* highlight section */

.copa-highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}
.highlight-text {
  /* width added later */
  width: 500px;
  margin-top: 40px;
}
.highlight-title {
  font-size: 48px;
  color: #0a0826;
  margin: 10px 5px 6px;
}
.highligh-mark {
  color: orange;
}
.highlight-summary {
  font-size: 16px;
  color: #6c6c6c;
  margin: 2px 5px 24px;
}
.copa-highlight .highlight-photo img {
  width: 567px;
  height: 427px;
}

/* event photo gallary section */
.photo-galary {
  background-color: #f3f1ff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.photo-frame {
  width: 440px;
  height: 420px;
  border: 2px solid lightblue;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.photo img {
  width: 100%;
  border-radius: 10px;
}
.photo_details {
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
  width: 440px;
}
.photo-frame:hover .photo_details {
  display: block;
  background-color: rgba(97, 116, 65, 0.459);
}
.photo-frame:hover .photo {
  transform: scale(1.3);
  transition: transform 1s ease-in;
}
.photo-frame:nth-child(2n):hover .photo {
  transform: scale(1.3) rotate(360deg);
  transition: transform 2s ease-in;
}
.photo_details h3 {
  background-color: rgb(37, 35, 35);
  color: white;
}
.photo_details p {
  color: rgba(230, 217, 217, 0.76);
  font-weight: 700;
}

/* copa-most-winner part */
.winner .time {
  padding-left: 90px;
  color: orange;
}

.winner:hover {
  box-shadow: 5px 5px 30px grey;
}
.winner:hover .time {
  color: #0a0826;
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

/* racism awareness part */
.no-racism {
  background-color: gainsboro;
  padding: 40px 60px 40px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.no-racism:hover .race-aware img {
  transform: scale(1.05);
  transition: transform 1s;
  overflow: hidden;
  border-radius: 5px;
  border: 5px solid #eb4242;
  box-shadow: 0px 0px 30px #d81010;
}
.no-racism:hover .race-aware h1 {
  color: #eb4242;
  transform: scale(1.05);
  transition: transform 1s;
}

/* footer */
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
}
footer img {
  width: 483.87px;
  height: 110px;
}
.social-medias {
  padding-bottom: 20px;
}
.icon-social {
  font-size: 17px;
  padding-left: 21px;
}
.copywrite {
  font-size: 14px;
}

/*...........................
        Media Queries
 ............................*/
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  body {
    overflow-x: hidden;
  }
  /* navigation responsive */
  header {
    height: 160px;
    margin: 0;
  }
  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .left-side-nav,
  .right-side-nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* some common responsive */

  .top-banner,
  .top-players,
  .highlight,
  .copa-winners,
  .no-racism {
    width: 100%;
    height: 100%;
  }
  .players,
  .most-winners,
  .banner,
  .copa-highlight {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-left: 20px;
    margin-right: 15px;
  }

  /* banner responsive */

  .banner-one {
    margin-bottom: 53px;
    padding-left: 30px;
  }

  .banner-text {
    margin-bottom: 30px;
  }
  .banner-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .banner-photo {
    padding-bottom: 58px;
  }
  .banner-photo img {
    width: 385px;
    height: 290.17px;
    padding-left: 20px;
  }

  .banner-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .top-banner:hover .top-banner-button {
    transition: transform 1.5s ease-in;
    transform: translate(210px, 10px) rotate(360deg);
  }
  .top-banner:hover .banner-image {
    transform: scale(1.01) rotate(360deg);
    transition: transform 1.5s ease-in;
  }
  /* playes & copa-winners session responsive */
  .player,
  .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  /* photo album */
  .photo-galary {
    padding: 10px;
  }
  .photo-album {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .photo-frame {
    width: 350px;
    height: 330px;
  }
  .photo img {
    width: 100%;
  }
  .photo_details {
    width: 350px;
  }
  /* hightlight section responsive */
  .hightlight {
    width: 400px;
  }

  .highlight-text {
    width: 375px;
    margin-bottom: 40px;
  }
  .copa-highlight .highlight-photo img {
    width: 375px;
  }
  /* racism section responsive */
  .no-racism {
    width: 270px;
  }
  .no-racism .race-aware img {
    width: 100%;
  }
  /* fotter responsive */
  .footer-section {
    margin-bottom: 187px;
  }
  footer img {
    width: 250px;
  }
}

/*...................
 Tablet  Devices
 ................... */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  /* navigation responsive */
  header {
    height: 160px;
    margin: 0;
  }
  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .left-side-nav,
  .right-side-nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* some common responsive */

  .top-banner,
  .top-players,
  .highlight,
  .copa-highlight,
  .copa-winners,
  .no-racism {
    width: 100%;
    height: 100%;
  }
  .players,
  .most-winners,
  .banner,
  .copa-highlight {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 20px;
    margin-right: 15px;
  }

  /* banner responsive */
  .banner-one {
    margin-bottom: 53px;
    padding-left: 30px;
  }

  .banner-text {
    margin-bottom: 30px;
  }
  .banner-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .banner-photo {
    padding-bottom: 58px;
  }
  .banner-photo img {
    width: 350px;
    height: 350.17px;
    padding-left: 20px;
  }

  .banner-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .top-banner:hover .top-banner-button {
    transition: transform 1.5s ease-in;
    transform: translate(95px, 15px) rotate(360deg);
  }
  .top-banner:hover .banner-image {
    transform: scale(1.1) rotate(360deg);
    transition: transform 1.5s ease-in;
  }
  /* playes & copa-winners session responsive */
  .player,
  .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  /* photo album */
  .photo-galary {
    padding: 10px;
  }
  .photo-album {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .photo-frame {
    width: 350px;
    height: 330px;
  }
  .photo img {
    width: 100%;
  }
  .photo_details {
    width: 350px;
  }
  /* hightlight section responsive */
  .hightlight {
    width: 730px;
  }

  .highlight-text {
    width: 320px;
    margin-bottom: 40px;
    padding-right: 20px;
  }
  .copa-highlight .highlight-photo img {
    width: 310px;
  }
  /* racism section responsive */
  .no-racism {
    width: 600px;
  }
  .no-racism .race-aware img {
    width: 100%;
  }
  /* fotter responsive */
  .footer-section {
    margin-bottom: 187px;
  }
  footer img {
    width: 250px;
  }
}
